<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		
		<param name="frame_id" type="string" value="flipper/map" />
		<param name="base_frame_id" type="string" value="flipper/base_link_odom" />
		
		<param name="sensor_model/max_range" value="6.0" />
		
		<remap from="cloud_in" to="/flipper/velodyne_points" />
		<param name="filter_ground" type="bool" value="true" />
		<param name="filter_speckles" type="bool" value="true" />
		<param name="ground_filter/distance" type="double" value="0.2" />
		<param name="ground_filter/plane_distance" type="double" value="0.2" />
		<param name="pointcloud_min_z" type="double" value="-2.0" />
		<param name="pointcloud_max_z" type="double" value="4.0" />
		<param name="occupancy_min_z" type="double" value="0" />
		<param name="occupancy_max_z" type="double" value="10" />
	
	</node>
</launch>
