<launch>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find state_estimator)/config/lab2.rviz" />
  <node name="se_node" pkg="state_estimator" type="state_estimator.py" output="screen" cwd="node"/>
  <node pkg="state_estimator" type="playbags.sh" name="player" output="log" args="$(find state_estimator)/../../bags/*.bag" />
</launch>